html, body { 
	height:100%;
  background-color: #000000;
  color:#fff;
  margin: 5px 0 5px 0;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sect {
	height: 70%;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position:center;
  background-image: url("../img/email.jpg");

}