html, body { 
	height:100%;
  background-color: #181818;
  color:#fafafa;
  margin: 5px 0 5px 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
  margin-bottom:20px;
  color:#fafafa;
}

.navbar-default {
  position:fixed;
  top: 0;
	height:50px;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	z-index:99;
	text-align:center;
}

.navbar-default a {
	text-decoration:none;
	color:#fff;
	margin-left:30px;
	line-height:50px;
}
.navbar-default a:hover {
	color:#a0a0a0;
	transition: all.4s ease;
	-cr-transition: all.4s ease;
	-o-transition: all.4s ease;
	-moz-transition: all.4s ease;
	-webkit-transition: all.4s ease;
}



.carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#QuoteCarousel {
  height: 40vh;
  background-image: url("../img/paralax-1.jpg");
}

#QuoteCarousel .carousel-item {
  height: 20vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.paralax {
	height: 70vh;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/email.jpg");
}

.porfolio{
  margin: 10px;
  display: flex;
  flex-wrap:wrap;
}
.porfolio-item{
  margin: 10px;
  display: flex;
}
.portfolioRight{
  flex-direction: row-reverse;
}
.portfolioLeft{
  flex-direction: row;
}

.porfolio-img{
  flex: 1;
  height: 480px;
  width: auto;
}

.portfolio-text{
  flex: 2;
  align-self: center;
}

@media (max-width: 600px) {
  .portfolioRight, .portfolioLeft{
    flex-direction: column;
  }

  .box {
    width: auto;
    flex-grow: 1;
  }
}

.selection{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
.selection-item{
  text-align: center;
}

.selection-item img{
  height: 240px;
  width: auto;
}

.subscribtion {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribtion-form{
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.about{
  min-height: 40vh;
}
.about h1{
  margin: 10px;
  text-align: center;
}
footer{
  display: flex;
  flex-direction: column;
}
footer a{
  text-decoration:none;
	color:#fafafa;
}
footer a:hover {
	color:#a0a0a0;
	transition: all.4s ease;
	-cr-transition: all.4s ease;
	-o-transition: all.4s ease;
	-moz-transition: all.4s ease;
	-webkit-transition: all.4s ease;
}
.summary{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.summary-item{
  margin: 20px;
  flex: 1;
  text-align: center;
}

